﻿
@model IEnumerable<Order>
@{
    ViewData["Title"] = "Order List";
}
<div style="width:100%" class="mt-2">
    <a href="/Customer/Home/Index" class="btn btn-primary my-2">Back</a>

    <h4>My Orders</h4>
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var order in Model)
            {
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                <table class="table table-bordered table-striped mb-lg-5">
                                <tr>
                                    <th>
                                Total: @(order.OrderDetail.Select(item => item.Product.ListPrice * item.Quantity).Sum())$
                                    </th>
                                    <th>
                                Date: @order.CreateDate.ToString("dd-MM-yyyy")
                                    </th>
                                    <th>
                                Status: @order.OrderStatus.StatusName
                                    </th>
                                    <th>
                                    @if (@order.OrderStatusId != 3)
                                        {
                                         <a href="/Customer/UserOrder/DeleteOrder?OrderId=@order.Id" class="btn btn-danger">Cancel order</a>
                                        }
                        </th>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>Book</th>
                                    <th>Image</th>
                                    <th>Genre</th>
                                    <th>Unit Price(INR)</th>
                                    <th>Total Price</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Product.Title</td>
                                        <td><img src="@item.Product.ImageUrl" style="width:80px;height:100px"/></td>
                                        <td>@item.Product.Category.Name</td>
                                        <td>@item.Product.ListPrice X @item.Quantity</td>
                                        <td> @(item.Product.ListPrice * item.Quantity) </td>
                                    </tr>
                                }
                            </table>                     
                    
                }
            }

    }
    else
    {
        <h5>No orders</h5>
    }
</div>